In [1]:
import pandas as pd
import numpy as np
from is_slum import get_slum_val
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('../real_estate_data/hyderabad.csv')

In [3]:
df.head()

,price,title,furnishing,tenants preferred,bathroom,availability,latitude,longitude,balcony,floor,facing,overlooking,car parking,owner resides,curr_mark,hasLac,inr_pmo,usd_pmo
0,"₹ 18,000",3 BHK House for rent in Gudimalkapur 1400 sqft,Unfurnished,Bachelors/Family,2,Immediately,17.387920,78.437117,NaN,NaN,NaN,NaN,NaN,NaN,₹,False,18000.0,252.40
1,"₹ 20,000",3 BHK Villa for rent in Shamshabad 1500 sqft,Unfurnished,Bachelors,3,From Mar '20,17.270166,78.393593,3,NaN,NaN,NaN,NaN,NaN,₹,False,20000.0,280.44
2,"₹ 5,800",1 BHK Apartment for rent in Vinayak Nagar II-H...,Unfurnished,Family,1,Immediately,NaN,NaN,1,1 out of 1 Floor,East,Main Road,NaN,NaN,₹,False,5800.0,81.33
3,"₹ 14,000","2 BHK Apartment for rent in Kukatpally, NH 9 1...",Semi-Furnished,Bachelors/Family,2,Immediately,17.493084,78.405441,NaN,2 out of 5 Floors,NaN,NaN,NaN,NaN,₹,False,14000.0,196.31
4,"₹ 20,000",3 BHK Apartment for rent in Dellapur 1560 sqft,Semi-Furnished,Bachelors/Family,2,Immediately,NaN,NaN,NaN,5 out of 5 Floors,NaN,NaN,NaN,NaN,₹,False,20000.0,280.44

In [4]:
df.isna().sum(), df.shape

(price                   0
 title                   0
 furnishing            388
 tenants preferred     379
 bathroom              394
 availability          379
 latitude              439
 longitude             439
 balcony              1245
 floor                 564
 facing               1302
 overlooking          1641
 car parking          1765
 owner resides        2230
 curr_mark               0
 hasLac                  0
 inr_pmo                20
 usd_pmo                20
 dtype: int64,
 (2309, 18))

In [5]:
df.drop(columns=['owner resides', 'car parking', 'overlooking', 'facing', 'balcony'], inplace=True)

In [6]:
df.dropna(inplace=True)
df.reset_index(inplace=True)

In [7]:
temp = []
index = 0
for i in range(len(df)):
    index = i
    temp.append(get_slum_val('hyderabad', (df['latitude'][i], df['longitude'][i])))

In [8]:
index

1358

In [9]:
df.iloc[29]

index                                                               54
price                                                         ₹ 23,000
title                3 BHK Builder Floor for rent in Hyder Nagar, N...
furnishing                                                   Furnished
tenants preferred                                     Bachelors/Family
bathroom                                                             2
availability                                               Immediately
latitude                                                       11.9249
longitude                                                      79.8304
floor                                                1 out of 2 Floors
curr_mark                                                            ₹
hasLac                                                           False
inr_pmo                                                          23000
usd_pmo                                                         322.51
Name: 29, dtype: object

In [10]:
df['is_slum'] = temp

In [11]:
df.head()

,index,price,title,furnishing,tenants preferred,bathroom,availability,latitude,longitude,floor,curr_mark,hasLac,inr_pmo,usd_pmo,is_slum
0,3,"₹ 14,000","2 BHK Apartment for rent in Kukatpally, NH 9 1...",Semi-Furnished,Bachelors/Family,2,Immediately,17.493084,78.405441,2 out of 5 Floors,₹,False,14000.0,196.31,0
1,5,"₹ 45,000",3 BHK Builder Floor for rent in Whitefields 20...,Furnished,Bachelors/Family,3,Immediately,17.454336,78.365890,3 out of 5 Floors,₹,False,45000.0,630.99,0
2,7,"₹ 20,000",2 BHK Apartment for rent in Kondapur,Furnished,Bachelors/Family,2,Immediately,17.462683,78.353180,1 out of 4 Floors,₹,False,20000.0,280.44,0
3,8,"₹ 18,500","2 BHK Apartment for rent in Matrusri Nagar, Mi...",Unfurnished,Bachelors/Family,2,Immediately,17.493622,78.367180,3 out of 4 Floors,₹,False,18500.0,259.41,0
4,10,"₹ 12,000",2 BHK House for rent in Osman Nagar 180 sqyrd,Furnished,Bachelors/Family,2,Immediately,17.441813,78.278223,Ground out of 1 Floor,₹,False,12000.0,168.26,0

In [12]:
df.drop(columns='index', inplace=True)

In [13]:
df['is_slum'].value_counts()

0    1258
1     101
Name: is_slum, dtype: int64

In [14]:
df = pd.concat([df, df[df['is_slum'] == 1].sample(1157, replace = True)]).reset_index().drop(columns='index')

In [15]:
df.tail()

,price,title,furnishing,tenants preferred,bathroom,availability,latitude,longitude,floor,curr_mark,hasLac,inr_pmo,usd_pmo,is_slum
2511,"₹ 15,000",3 BHK House for rent in Kushaiguda 1700 sqft,Unfurnished,Bachelors/Family,3,Immediately,17.482545,78.572644,2 out of 4 Floors,₹,False,15000.0,210.33,1
2512,"₹ 28,000","2 BHK Apartment for rent in Miyapur, NH 9 1460...",Furnished,Bachelors/Family,2,Immediately,17.498161,78.356763,17 out of 19 Floors,₹,False,28000.0,392.62,1
2513,"₹ 18,000","1 BHK Builder Floor for rent in Banjara Hills,...",Unfurnished,Bachelors/Family,1,Immediately,17.415895,78.435760,2 out of 3 Floors,₹,False,18000.0,252.40,1
2514,"₹ 6,000",1 BHK Apartment for rent in Nagole,Unfurnished,Bachelors/Family,1,Immediately,17.377531,78.560123,2 out of 3 Floors,₹,False,6000.0,84.13,1
2515,"₹ 11,000",1 BHK House for rent in Kothaguda,Unfurnished,Bachelors/Family,1,Immediately,17.467659,78.377968,4 out of 5 Floors,₹,False,11000.0,154.24,1

In [16]:
df['is_slum'].value_counts()

1    1258
0    1258
Name: is_slum, dtype: int64

In [17]:
df = pd.get_dummies(df, columns=['furnishing', 'tenants preferred', 'availability', 'floor', 'hasLac', 'bathroom'], drop_first=True)

In [18]:
df.head(3)

,price,title,latitude,longitude,curr_mark,inr_pmo,usd_pmo,is_slum,furnishing_Semi-Furnished,furnishing_Unfurnished,...,floor_Upper Basement out of 2 Floors,floor_Upper Basement out of 5 Floors,hasLac_True,bathroom_2,bathroom_3,bathroom_4,bathroom_5,bathroom_6,bathroom_7,bathroom_> 10
0,"₹ 14,000","2 BHK Apartment for rent in Kukatpally, NH 9 1...",17.493084,78.405441,₹,14000.0,196.31,0,1,0,...,0,0,0,1,0,0,0,0,0,0
1,"₹ 45,000",3 BHK Builder Floor for rent in Whitefields 20...,17.454336,78.365890,₹,45000.0,630.99,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,"₹ 20,000",2 BHK Apartment for rent in Kondapur,17.462683,78.353180,₹,20000.0,280.44,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [19]:
X = df.drop(columns=['price', 'title', 'latitude', 'longitude', 'curr_mark', 'is_slum'])
y = df['is_slum']

In [20]:
list(X.columns)

['inr_pmo',
 'usd_pmo',
 'furnishing_Semi-Furnished',
 'furnishing_Unfurnished',
 'tenants preferred_Bachelors/Family',
 'tenants preferred_Family',
 "availability_From Feb '20",
 "availability_From Mar '20",
 'availability_Immediately',
 'floor_1 out of 1 Floor',
 'floor_1 out of 10 Floors',
 'floor_1 out of 12 Floors',
 'floor_1 out of 2 Floors',
 'floor_1 out of 3 Floors',
 'floor_1 out of 30 Floors',
 'floor_1 out of 4 Floors',
 'floor_1 out of 5 Floors',
 'floor_1 out of 6 Floors',
 'floor_1 out of 7 Floors',
 'floor_1 out of 8 Floors',
 'floor_1 out of 9 Floors',
 'floor_10 out of 10 Floors',
 'floor_10 out of 27 Floors',
 'floor_10 out of 29 Floors',
 'floor_11 out of 30 Floors',
 'floor_11 out of 34 Floors',
 'floor_12 out of 28 Floors',
 'floor_14 out of 14 Floors',
 'floor_15 out of 18 Floors',
 'floor_15 out of 30 Floors',
 'floor_17 out of 19 Floors',
 'floor_17 out of 20 Floors',
 'floor_17 out of 22 Floors',
 'floor_17 out of 23 Floors',
 'floor_17 out of 30 Floors',
 'floor_2 out of 12 Floors',
 'floor_2 out of 13 Floors',
 'floor_2 out of 14 Floors',
 'floor_2 out of 15 Floors',
 'floor_2 out of 2 Floors',
 'floor_2 out of 3 Floors',
 'floor_2 out of 31 Floors',
 'floor_2 out of 4 Floors',
 'floor_2 out of 5 Floors',
 'floor_2 out of 6 Floors',
 'floor_2 out of 7 Floors',
 'floor_2 out of 8 Floors',
 'floor_2 out of 9 Floors',
 'floor_20 out of 20 Floors',
 'floor_20 out of 23 Floors',
 'floor_21 out of 30 Floors',
 'floor_22 out of 25 Floors',
 'floor_22 out of 30 Floors',
 'floor_23 out of 30 Floors',
 'floor_3',
 'floor_3 out of 10 Floors',
 'floor_3 out of 15 Floors',
 'floor_3 out of 16 Floors',
 'floor_3 out of 18 Floors',
 'floor_3 out of 20 Floors',
 'floor_3 out of 22 Floors',
 'floor_3 out of 25 Floors',
 'floor_3 out of 3 Floors',
 'floor_3 out of 4 Floors',
 'floor_3 out of 5 Floors',
 'floor_3 out of 6 Floors',
 'floor_3 out of 7 Floors',
 'floor_3 out of 8 Floors',
 'floor_3 out of 9 Floors',
 'floor_4',
 'floor_4 out of 12 Floors',
 'floor_4 out of 14 Floors',
 'floor_4 out of 20 Floors',
 'floor_4 out of 4 Floors',
 'floor_4 out of 5 Floors',
 'floor_4 out of 6 Floors',
 'floor_4 out of 7 Floors',
 'floor_4 out of 8 Floors',
 'floor_4 out of 9 Floors',
 'floor_5 out of 10 Floors',
 'floor_5 out of 13 Floors',
 'floor_5 out of 14 Floors',
 'floor_5 out of 20 Floors',
 'floor_5 out of 5 Floors',
 'floor_5 out of 6 Floors',
 'floor_5 out of 7 Floors',
 'floor_5 out of 8 Floors',
 'floor_5 out of 9 Floors',
 'floor_6 out of 10 Floors',
 'floor_6 out of 12 Floors',
 'floor_6 out of 20 Floors',
 'floor_6 out of 6 Floors',
 'floor_6 out of 7 Floors',
 'floor_6 out of 8 Floors',
 'floor_6 out of 9 Floors',
 'floor_7 out of 30 Floors',
 'floor_7 out of 7 Floors',
 'floor_7 out of 8 Floors',
 'floor_8 out of 10 Floors',
 'floor_8 out of 11 Floors',
 'floor_8 out of 14 Floors',
 'floor_8 out of 8 Floors',
 'floor_8 out of 9 Floors',
 'floor_9 out of 10 Floors',
 'floor_9 out of 11 Floors',
 'floor_9 out of 12 Floors',
 'floor_9 out of 13 Floors',
 'floor_9 out of 9 Floors',
 'floor_Ground out of 1 Floor',
 'floor_Ground out of 12 Floors',
 'floor_Ground out of 2 Floors',
 'floor_Ground out of 3 Floors',
 'floor_Ground out of 4 Floors',
 'floor_Ground out of 5 Floors',
 'floor_Ground out of 6 Floors',
 'floor_Lower Basement out of 1 Floor',
 'floor_Lower Basement out of 2 Floors',
 'floor_Lower Basement out of 3 Floors',
 'floor_Upper Basement out of 1 Floor',
 'floor_Upper Basement out of 2 Floors',
 'floor_Upper Basement out of 5 Floors',
 'hasLac_True',
 'bathroom_2',
 'bathroom_3',
 'bathroom_4',
 'bathroom_5',
 'bathroom_6',
 'bathroom_7',
 'bathroom_> 10']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [22]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
lr.score(X_train, y_train), lr.score(X_test, y_test)

(0.18866383124217945, 0.1100285375846446)

In [24]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [25]:
rf.score(X_train, y_train), rf.score(X_test, y_test)

(0.9936406995230525, 0.9666136724960255)

In [26]:
rf.predict(X_train).sum()

980