In [2]:
import time
import numpy as np
import pandas as pd
import missingno as mno
import googlemaps as gmaps

gmaps = gmaps.Client(key='AIzaSyAiiG2SnCVLWlg0ZA6GKXS-beHPIidYVeM')

In [3]:
%%capture
from tqdm import tqdm_notebook as tqdm
tqdm().pandas()

In [5]:
df = pd.read_csv('99acres.com_data.csv')
print(df.shape)
df.head(3)

(21928, 11)

,Unnamed: 0,title,price_per_month,deposit,rooms,baths,FOR FAMILY,FOR SINGLE MEN,FOR SINGLE WOMEN,FURNISHED,price
0,0,2 BHK Flat for rent in Wadala East,"₹ 55,000",₹ 200000,BHK2,2,1.0,1.0,1.0,NaN,"['₹', '55,000', '/monthDeposit', '₹', '200000']"
1,1,2 BHK Flat for rent in Bandra (West),"₹ 90,000",₹ 300000,BHK2,2,1.0,1.0,1.0,NaN,"['₹', '90,000', '/monthDeposit', '₹', '300000']"
2,2,2 BHK Flat for rent in Vijay Nagari,"₹ 28,000",month(s) rent,BHK2,2,1.0,1.0,1.0,1.0,"['₹', '28,000', '/monthDeposit', '6', 'month(s..."

In [16]:
def parse_address(x):
    return x.split(' in ')[-1] + ', Mumbai '

In [18]:
df['address'] = df['title'].apply(parse_address)

In [19]:
print(len(df), 'total rows')
unique_locs = list(set(df['address']))
print(len(unique_locs), 'unique address')

21928 total rows
1229 unique address

# Geocoding

In [20]:
def get_gmap_geos(locations, max_errors=10):
    geocoded = dict()
    start_time = time.perf_counter()
    errors = 0
    for iteration, location in enumerate(locations):
        try:
            geocoded[location] = gmaps.geocode(location)
            time.sleep(.05) # <-- req/sec throttle
        except:
            time.sleep(2)
            try:
                geocoded[location] = gmaps.geocode(location)
            except:
                time.sleep(2)
                try:
                    geocoded[location] = gmaps.geocode(location)
                except:
                    geocoded[location] = 'error'
                    errors+=1
        if errors>max_errors:
            print('stopped at', iteration, '(max errors reached)')
            break
            return geocoded
        if iteration>0 and iteration%200==0:
            now = time.strftime('%H:%M:%S', time.localtime(time.time()))
            print(f'{now} | {iteration} locations geocoded ({round(iteration/len(unique_locs)*100, 2)}%) | {errors} total errors')
    print(f'job completed in {time.perf_counter() - start_time}s\n{errors} requests timed out')
    print(len([v for v in geocoded.values() if v=='error']), 'locations not found')
    return geocoded

In [21]:
unique_geocodes = get_gmap_geos(unique_locs)

22:32:33 | 200 locations geocoded (16.27%) | 0 total errors
22:34:08 | 400 locations geocoded (32.55%) | 0 total errors
22:35:40 | 600 locations geocoded (48.82%) | 0 total errors
22:37:17 | 800 locations geocoded (65.09%) | 0 total errors
22:38:54 | 1000 locations geocoded (81.37%) | 0 total errors
22:40:24 | 1200 locations geocoded (97.64%) | 0 total errors
job completed in 583.593392835s
0 requests timed out
0 locations not found

### Map back onto df

In [23]:
df['gmaps_info'] = df['address'].apply(lambda x: unique_geocodes[x])

In [24]:
def extract_coords(geo):
    try:
        geo = geo[-1] # drop generalized extra results
        return geo['geometry']['location']['lat'], geo['geometry']['location']['lng']
    except:
        return np.nan, np.nan

In [25]:
df['coord'] = df['gmaps_info'].apply(extract_coords)
df['lat'] = df['coord'].apply(lambda x: x[0])
df['lng'] = df['coord'].apply(lambda x: x[1])
df.head()

,Unnamed: 0,title,price_per_month,deposit,rooms,baths,FOR FAMILY,FOR SINGLE MEN,FOR SINGLE WOMEN,FURNISHED,price,address,gmaps_info,coord,lat,lng
0,0,2 BHK Flat for rent in Wadala East,"₹ 55,000",₹ 200000,BHK2,2,1.0,1.0,1.0,NaN,"['₹', '55,000', '/monthDeposit', '₹', '200000']","Wadala East, Mumbai",[{'address_components': [{'long_name': 'Wadala...,"(19.0088678, 72.8573828)",19.008868,72.857383
1,1,2 BHK Flat for rent in Bandra (West),"₹ 90,000",₹ 300000,BHK2,2,1.0,1.0,1.0,NaN,"['₹', '90,000', '/monthDeposit', '₹', '300000']","Bandra (West), Mumbai",[{'address_components': [{'long_name': 'Bandra...,"(19.0595596, 72.8295287)",19.059560,72.829529
2,2,2 BHK Flat for rent in Vijay Nagari,"₹ 28,000",month(s) rent,BHK2,2,1.0,1.0,1.0,1.0,"['₹', '28,000', '/monthDeposit', '6', 'month(s...","Vijay Nagari, Mumbai",[{'address_components': [{'long_name': 'Vijay ...,"(19.2560653, 72.9748448)",19.256065,72.974845
3,3,2 BHK Flat for rent in Kandivali (East),"₹ 34,500",₹ 150000,BHK2,2,1.0,1.0,1.0,1.0,"['₹', '34,500', '/monthDeposit', '₹', '150000']","Kandivali (East), Mumbai",[{'address_components': [{'long_name': 'Kandiv...,"(19.2004454, 72.87370229999999)",19.200445,72.873702
4,4,2 BHK Flat for rent in Hiranandani Gardens - P...,"₹ 90,000",month(s) rent,BHK2,2,1.0,NaN,NaN,1.0,"['₹', '90,000', '/monthDeposit', '4', 'month(s...","Hiranandani Gardens - Powai, Mumbai",[{'address_components': [{'long_name': 'Hirana...,"(19.1153798, 72.9091436)",19.115380,72.909144

### Export

In [26]:
df.to_csv('99acres.com_geocoded.csv', index=False)