In [21]:
import numpy as np
import pandas as pd
from is_slum import get_slum_val
import matplotlib.pyplot as plt

In [22]:
%%capture
from tqdm.notebook import tqdm
tqdm().pandas()

In [23]:
chennai = pd.read_csv('../data/chennai/cleaned.csv')
newdelhi = pd.read_csv('../data/new_delhi/cleaned.csv')

In [24]:
def Prepare(df):
    df['coord'] = list(zip(df['latitude'], df['longitude']))
    df.drop(columns=['latitude', 'longitude'], inplace=True)
    print(df.duplicated().sum(), 'duplicates dropped.')
    df.drop_duplicates(inplace=True)
    return df

In [25]:
chennai = Prepare(chennai)

194 duplicates dropped.

In [26]:
newdelhi = Prepare(newdelhi)

59 duplicates dropped.

### Classifying

In [28]:
def get_classes(df, city):
    class_map = dict()
    uniques = list(set(df['coord']))
    for coord in tqdm(uniques):
        try: class_map[coord] = get_slum_val(city, (coord[0], coord[1]))
        except: class_map[coord] = np.nan
    print(len(uniques), 'unique locations classified. mapping back to dataset...')
    df['class'] = df.coord.progress_apply(lambda x: class_map[x])
    print('COMPLETE. saving to CSV...')
    df.to_csv(f'classified_{city}.csv', index=False)
    print('saved. value counts:', df['class'].value_counts(normalize=True).values)

In [10]:
get_classes(chennai, 'chennai')

HBox(children=(FloatProgress(value=0.0, max=968.0), HTML(value='')))

968 unique locations classified. mapping back to dataset...

HBox(children=(FloatProgress(value=0.0, max=2212.0), HTML(value='')))

COMPLETE. saving to CSV...
saved. value counts: [0.9773858 0.0226142]

In [20]:
get_classes(newdelhi, 'delhi')

HBox(children=(FloatProgress(value=0.0, max=1030.0), HTML(value='')))

1030 unique locations classified. mapping back to dataset...

HBox(children=(FloatProgress(value=0.0, max=2287.0), HTML(value='')))

COMPLETE. saving to CSV...
saved. value counts: [0.66681242 0.33318758]